#    MOD+g
#        Resize window to 1:1 (pixel-perfect)
export DISPLAY=:1

android_width=1280
android_height=720

pad_width=10
pad_height=64

weston_width=$(( $android_width + $pad_width ))
weston_height=$(( $android_height + $pad_height ))

weston --xwayland --width=$weston_width --height=$weston_height

scrcpy --rotation=1 -s localhost:5555
